<IfModule mod_rewrite.c>
    RewriteEngine On

    # If request is already for /public, don't rewrite again.
    RewriteRule ^public/ - [L]

    # Send all other requests to Laravel public folder.
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
